.steps {
	.step {
		padding-bottom: 22.5px;

		.circle {
			width: 100%;
			max-width: 157px;
			background-color: $orange;
			border-radius: 100px;
			position: relative;
			margin: 0 auto;

			&:after {
			  content: "";
			  display: block;
			  padding-bottom: 100%;
			}

			.content {
				position: absolute;
				width: 100%;
				height: 100%;
				color: $white;
				font-family: $grandstander;
				font-size: 18px;
				font-weight: 700;

				display: flex;
			   	align-items: center;
			   	justify-content: center;


				.number {
					position: absolute;
					bottom: -22.5px;
					background-color: $yellow;
					font-size: 30px;
					width: 45px;
					height: 45px;
					border-radius: 50px;
					line-height: 1.75;
				}
			}
		}
	}

	.spacer {
		display: flex;
	   	align-items: center;
	   	justify-content: center;
	}
}