footer {
	&.footer {
		// background-color: $light-green;
		color: $white;
		padding-top: 2rem;
		position: relative;
		margin-top: 0;
		z-index: 600;

		.inner-footer {
			.footer-logo {
				max-width: 200px;
			}

			.footer-image {
				max-width: 480px;
				margin-bottom: -75px;
			}

			.menu {
				margin-bottom: 1rem;
			}
		}

		.accordion {
			&.did-you-know {
				position: fixed;
				bottom: 1rem;
				right: 0rem;
				background-color: transparent;
				z-index: 400;

				.accordion-item {
					width: 215px;
					transition: width 0.25 ease-out;

					&:not(.is-active) {
						.accordion-content {
							display: none !important;
						}
					}

					.accordion-title {
						margin-bottom: 0;
						text-align: center;
						display: flex;
					   	align-items: center;
				   	    justify-content: center;
				   	    background-color: $yellow;
				   	    border: none;
				   	    padding: 0.75rem 1.5rem;

				   	    border-radius: 10px 0 0 10px;

				   	    &:before {
				   	    	left: -26px;
				   	    	width: 26px;
				   	    	height: 26px;
				   	    	background-color: $yellow;
				   	    	color: $dark-gray;
				   	    	font-size: 23px;
			   	    	    font-weight: 700;
			   	    	    border-radius: 10px 0 0 10px;
			   	    	    text-align: center;
			   	    	    font-family: $grandstander;
			   	    	    padding-top: 4px;
			   	    	    padding-left: 4px;
			   	    	    display: none;
		   	    	        top: 1.5rem;
				   	    }

						.image {
							width: 25px;
							margin-right: 1rem;
							vertical-align: middle;

							svg {
								width: 25px;
								height: 29px;
							}
						}

						.text {
							font-family: $grandstander;
							font-weight: 700;
							color: $black;
							font-size: 18px;
						}
					}

					.accordion-content {
						background-color: $yellow;
						border: none;
						padding: 0 2rem 2.5rem;
						text-align: center;
						color: $black;
						border-radius: 0 0 0 10px;
						
						p {
							&:last-of-type {
								margin-bottom: 0;
							}

							a {
								color: $black;
								text-decoration: underline;
							}
						}

						.shuffle {
							padding-top: 1rem;
							display: inline-block;
							margin-bottom: 0;

							svg {
								width: 40px;
							}
						}
					}

					&.is-active {
						width: 90vw;
						max-width: 400px;

						.accordion-title {
							margin-bottom: 0;
							flex-direction: column;
							border-radius: 10px 0 0 0;

					   	    &:before {
					   	    	display: inline-block;
					   	    }

							.image {
								width: 40px;
								margin-top: 1rem;
								margin-left: 1rem;
								margin-bottom: 1rem;

								svg {
									width: 40px;
									height: 47px;
								}
							}
						}
					}
				}
			}
		}
	}
}