body {
	header.header {
		position: relative;
		z-index: 500;

		.top-bar-container {
			.callout {
				margin-bottom: 0;
				background-color: $dark-green;
				color: $white;
				font-family: $grandstander;
				font-weight: 700;
				font-size: 14px;
				text-align: center;
				border: none;
				box-shadow: none;
			}

			.sticky {
				.top-bar {
					background-color: transparent;
					padding: 0;

					.top-bar-left {
						ul {
							li {
								a {
									padding: 0;

									svg, img {
										height: 175px;
										width: auto;
										transition: height 0.25s ease-out;

										&.second-logo {
											height: 50px;
											width: auto;
										}
									}
								}
							}
						}
					}

					.top-bar-left, .top-bar-right {
						> ul {
							background-color: transparent;
						}
					}

					.event-notice {
						.event-notice-container {
							padding-bottom: 1rem;

							svg {
								width: 45px;
								height: 45px;
							}

							span {
								color: $white;
								font-size: 24px;
								font-family: $grandstander;

								a {
									vertical-align: middle;
									margin-left: 1rem;
								}
							}
						}
					}

					.top-bar-right {
						li {
							&.menu-item-has-children {
								a {
									padding-right: 1.5rem;
								}
							}
							
							&.menu-toggler {
								margin-left: 12px;
								margin-right: 21px;

								button {
									line-height: 1;
									text-decoration: none;
									display: block;
									border: none;
									padding-top: 0.75rem;
									padding-bottom: 0.75rem;
									cursor: pointer;
									outline: none;

									img, svg {
										width: 40px;

										g {
											fill: $white;
											transition: fill 0.25s ease-out;
										}
									}

									&:hover {
										svg {
											g {
												fill: $white;
											}
										}
									}
								}
							}

							&.facebook-logo, &.instagram-logo {
								// margin-left: 21px;
								// margin-right: 21px;

								a {
									line-height: 1;
									display: block;
									padding: 0.75rem;

									img, svg {
										height: 26px;
										width: 26px;

										g {
											fill: $white;
											transition: fill 0.25s ease-out;
										}
									}

									&:hover {
										svg {
											g {
												fill: $white;
											}
										}
									}
								}
							}
						}
					}

					#main-nav {
						padding: 0 1rem 0 2rem;
						margin-right: -1rem;
						background-color: $dark-green;
						border-top-left-radius: 50px;
						border-bottom-left-radius: 50px;

						> li {
							> a {
								color: $white;
								font-size: clamp(1rem, 1.2vw, 1.25rem);
								padding-top: 1.5rem;
								padding-bottom: 1.5rem;
							}

							

							&.is-active, &.active, &:hover {
								> a {
									background-color: transparent;
									position: relative;
									color: $white;
									
									// &:before {
									// 	content: "";
									// 	border-bottom: 3px solid $white;
									// 	width: calc(100% - 2rem);
									// 	display: inline-block;
									// 	position: absolute;
									// 	bottom: 5px;
									// 	left: 1rem;
									// }
								}
							}

							&:last-of-type {
								a {
									border-top-left-radius: 50px;
									border-bottom-left-radius: 50px;
									margin-top: -0.25rem;
									margin-bottom: -0.25rem;
									background-color: $orange;
									padding-left: 2rem;
									padding-top: 1.75rem;
									padding-bottom: 1.75rem;

									&:hover {
										background-color: $orange;
									}  
								}
							}

							> ul {
								border-bottom-right-radius: 10px;
								border-bottom-left-radius: 10px;
								background-color: $dark-green;
								border-radius-top-left: 50px;
								border-radius-bottom-left: 50px;
							}

							ul {
							    background-color: $white;
							    border: none;
							    box-shadow: 0 30px 60px 0 rgba($medium-gray, 0.2);
							    display: none;

							    &.js-dropdown-active {
							    	display: block;
							    }

							    > li {
							    	&:last-of-type {
						    			a {
						    				border-bottom-left-radius: 10px;
						    				border-bottom-right-radius: 10px;
						    			}
							    	}
							    }

							    li {
							    	white-space: nowrap;
							    	
							    	a {
							    		color: $black;
							    	}

							    	ul {
							    		width: 100%;
							    		border-top-right-radius: 10px;
							    		border-bottom-right-radius: 10px;
							    		overflow: hidden;
							    	}

							    	&:hover {
							    		&:not(.is-active):not(.active) {
							    			a {
							    				background-color: darken($white, 5);
							    			}
							    		}
							    	}

							    	&.is-active, &.active {
							    		> a {
							    			color: $white;
							    		}
							    	}
							    }
							}
						}
					}
				}

				&.is-stuck {
					background-color: $dark-green;
					padding-top: 0;
					padding-bottom: 0;
					
					.top-bar {
						.top-bar-left {
							.white-logo {
								display: inline-block;
							}

							.blue-logo {
								display: none;
							}

							ul {
								li {
									a {
										svg, img {
											height: calc(175px * 0.75);

											&.second-logo {
												height: 50px;
											}
										}
									}
								}
							}
						}

						.top-bar-right {
							#main-nav {
								> li {
									ul {
										margin-top: 31px;
									}
								}
							}

							ul {
								li {
									&.menu-toggler {
										button {
											img, svg {
												g {
													fill: $white;
												}
											}

											&:hover {
												svg {
													g {
														fill: $primary-color;
													}
												}
											}
										}
									}
								}
							}

							.event-notice {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after {
	border-color: $white transparent transparent
}

.off-canvas {
	background-color: $dark-green;
	
	&.is-transition-overlap {
		z-index: 300;
	}

	.menu {
		li {
			&.logo {
				width: 100%;

				a {
					outline: none;
					
					img {
						width: 200px;
						margin-bottom: 2rem;
						
						path, polygon {
							fill: $white;
						}
					}
				}
			}
		}
	}

	.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
		border-color: $white transparent transparent
	}

	.logos {
		text-align: center;

		.logo, .second-logo {
			max-width: 90%;
			max-height: 100px;
			margin: 0 auto;
			padding: 0 1rem;
		}
	}

	#offcanvas-nav {
		width: 90%;
		margin: 0 auto;
		padding: 2rem 0;

		li {
			a {
				color: $white;
				font-size: 18px;
			}

			&.active {
				border-radius: 10px;
				overflow: hidden;
			}

			&.button {
				padding: 0;

				&.hollow {
					margin-top: 1rem;
				}

				&.white {
					&:not(.hollow){
						a {
							color: $dark-green;
						}
					}
				}
			}

			ul {
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				li {

					&.active {
						margin-top: 0.5rem;
					}

					a {
						font-size: 16px;

						svg {
							max-height: 20px;
							max-width: 20px;
							vertical-align: middle;
							margin-right: 1rem;

							g {
								fill: $white;
							}
						}
					}
				}
			}
		}
	}

	.close-menu {
		position: absolute;
		top: 2rem;
		right: 2rem;

		li {
			a {
				color: $white;
			}
		}
	}
}

.menu-svg {
	max-width: 25px;
	max-height: 25px;
	margin-right: 0.5rem;
}