.hero-banner {

}

section {
	&:not(.entry-content):not(.featured-image) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.block-background-start, footer.footer {
	&.orange {
		background-color: $orange;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.dark-green {
		background-color: $dark-green;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.light-green {
		background-color: $light-green;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.yellow {
		background-color: $yellow;
		color: $black;
		a {
			&:not(.button) {
				color: $black;
				text-decoration: underline;
			}
		}
	}

	&.light-gray {
		background-color: $light-gray;
		color: $black;
		a {
			&:not(.button) {
				color: $dark-gray;
				text-decoration: underline;
			}
		}
	}
}

.section-divider {
	height: 0;

	&.xsmall-divider {
		padding-top: 1.5rem;
	}

	&.small-divider {
		padding-top: 3rem;
	}

	&.medium-divider {
		padding-top: 4.5rem;
	}

	&.large-divider {
		padding-top: 6rem;
	}

	&.xlarge-divider {
		padding-top: 7.5rem;
	}

	&.xxlarge-divider {
		padding-top: 11.25rem;
	}
}

.image-divider {
	position: relative;

	&.visible {
		overflow: visible;
		
		img {
			z-index: 10;
		}
	}

	&.hidden {
		overflow: hidden;
	}

	&.mt100 {
		margin-top: 100px;
	}
	&.mt75 {
		margin-top: 75px;
	}
	&.mt50 {
		margin-top: 50px;
	}
	&.mt-50 {
		margin-top: -50px;
	}
	&.mt-75 {
		margin-top: -75px;
	}
	&.mt-100 {
		margin-top: -100px;
	}

	&.mb100 {
		margin-bottom: 100px;
	}
	&.mb75 {
		margin-bottom: 75px;
	}
	&.mb50 {
		margin-bottom: 50px;
	}
	&.mb-50 {
		margin-bottom: -50px;
	}
	&.mb-75 {
		margin-bottom: -75px;
	}
	&.mb-100 {
		margin-bottom: -100px;
	}

	img {
		height: 150%;
		position: absolute;
	}

	&.right {
		img {
			right: 1rem;
		}
	}

	&.left {
		img {
			left: 1rem;
		}
	}

	&.top {
		img {
			top: 0;
		}
	}

	&.bottom {
		img {
			bottom: 0;
		}
	}

	&.horizontal-center {
		img {
			margin: auto;
			left: 0;
			right: 0;
		}
	}

	&.vertical-center {
		img {
			margin: auto;
			top: 0;
			bottom: 0;
		}
	}

	&.xsmall-divider {
		height: 50px;
	}

	&.small-divider {
		height: 100px;
	}

	&.medium-divider {
		height: 150px;
	}

	&.large-divider {
		height: 200px;
	}

	&.xlarge-divider {
		height: 250px;
	}

	&.xxlarge-divider {
		height: 300px;
	}
}

.button-group {
	.button {
		&:not(:first-of-type) {
			margin-left: 1rem;
		}

		&:not(.hollow) {
			&.orange {
				color: $white;
			}
		}
		&.hollow {
			&.orange {
				&:hover {
					background-color: $orange;
					border-color: $orange;
					color: $white;
				}
			}
			&.dark-green {
				&:hover {
					background-color: $dark-green;
					border-color: $dark-green;
					color: $white;
				}
			}
			&.light-green {
				&:hover {
					background-color: $light-green;
					border-color: $light-green;
					color: $white;
				}
			}
			&.yellow {
				&:hover {
					background-color: $yellow;
					border-color: $yellow;
					color: $dark-gray;
				}
			}
			&.white {
				&:hover {
					background-color: $white;
					border-color: $white;
					color: $dark-gray;
				}
			}
		}
	}
}

.block-hero-banner {
	margin-top: -175px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.overlay {
		padding: calc(3rem + 175px) 0 100px;
		height: 100vh;
		min-height: 500px;
		width: 100%;
		position: relative;
		background-color: rgba(0,0,0,0.2);
	}

	.hero-banner-inner {
		width: 100%;
		color: $white;

		@include headings() {
			color: $white;
		}

		.button, .button-group .button {
			&.link {
				background-color: transparent;
				border-color: transparent;

				&.primary {
					color: $primary-color;
				}

				&.secondary {
					color: $secondary-color;
				}

				&.white {
					color: $white;
				}
			}
		}

		.button-group {
			margin-top: 2rem;
			margin-bottom: 0;
		}
	}
}

.block-content-media {

	.media {
		position: relative;

		img {
			border-radius: 10px;
		}

		.quote {
			width: 180px;
			position: relative;

			&.position {
				position: absolute;
				top: -40px;
				color: $white;

				.image {

				}

				.text {
					position: absolute;
					top: 1rem;

					padding: 1rem 1rem;
					text-align: center;

					p {
						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				

				&.top-left {
					left: -40px;
				}

				&.top-right {
					right: -40px;
				}
			}
		}
	}
	.content {

		ul {
			list-style: none;
			margin-left: 0;

			li {
				display: inline-block;
				padding-right: 2rem;
				width: 50%;
				float: left;
				color: $light-green;
				font-weight: 700;
				line-height: 1;
				margin-bottom: 1rem;
			}
		}
		.quick-links {
			ul {
				li {
					a {
						color: $light-green;
						font-weight: 700;
					}
				}
			}
		}
	}
}

.block-content-media, .block-full-width-media {
	.image-inner, .video-inner {
		&.box-shadow {
			img, .video-background {
				box-shadow: 0 8px 40px 0 rgba(51,51,51,0.1);
			}
		}

		&.border-radius {
			img, .video-background {
				border-radius: 10px;
			}
		}
	}
}

.block-content-media, .block-full-width-media {
	.media, .content {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;

		.image-inner, .content-inner {
			width: 100%;
		}
	}

	.media {
		.video-inner {
			width: 100%;
			height: 100%;
			position: relative;

			.video-background {
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				width: 100%;
				height: calc(100vw / 4 + 2rem);
				max-height: 500px;
				min-height: 300px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				background-color: $light-green;
			}

			.video-controls {
			    z-index: 10;
			    width: 100%;
			    left: 0;
			    right: 0;
			    position: absolute;
			    text-align: center;

			    button {
			    	cursor: pointer;
			    	opacity: 0.5;
			    	transition: all 0.25s ease-in;
			    	outline: none;

			    	&:hover {
			    		opacity: 1;
			    	}
			    }
			}
		}
	}
}

.reveal {
	&.video {
		padding: 1.5rem;
		background: transparent;
		border: none;
		box-shadow: none;
		outline: none;

		.close-button {
			background-color: $light-gray;
		    border-radius: 40px;
		    padding: 3px 10px 3px;
		    right: 0;
		    top: 0;
		}

		.widescreen {
			margin-bottom: 0;
		}
	}
}

.block-content-page-links {

	&.overlap-section-below {
		margin-bottom: 140px;

		.page-links {
			position: relative;
			bottom: -140px;
			margin-top: -140px;
		}
	}
			
	.page-links {
		padding: 0;

		.links {
			.link {
				.inner {
					.button-group {
						margin-bottom: 0;
					}

					&.background-color {
						padding: 2rem 1rem;
						border-radius: 4px;

						margin-top: 0.5rem;
						margin-bottom: 0.5rem;

						&.orange {
							background-color: $orange;
							color: $white;
						}

						&.dark-green {
							background-color: $dark-green;
							color: $white;
						}

						&.light-green {
							background-color: $light-green;
							color: $white;
						}

						&.light-gray {
							background-color: $light-gray;
							color: $black;

							.button {
								border-color: $black;
								color: $black;

								&:hover {
									background-color: $black;
									color: $white;
								}
							}
						}

						&.yellow {
							background-color: $yellow;
							color: $black;

							.button {
								border-color: $black;
								color: $black;

								&:hover {
									background-color: $black;
									color: $white;
								}
							}
						}

						&.white {
							background-color: $white;
						}
					}

					&.large-image {
						width: 90%;
						margin: 0 auto;
						padding-top: 0.5rem;
						padding-bottom: 0.5rem;

						img {
							border-radius: 10px;
							margin-bottom: 2rem;
						}
					}

					&.normal {
						padding: 1rem;

						h6, p {
							max-width: 70%;
							margin-left: auto;
							margin-right: auto;
						}

						a {
							&.button {
								&:hover {
									background-color: $dark-green;
								}
							}

							&:not(.button) {
								color: $dark-gray;
								text-decoration: none;
							}
						}

						.circle {
							width: 100%;
							max-width: 157px;
							background-color: $light-green;
							box-shadow: 0 8px 24px 0 rgba(0,0,0,0.15);
							border-radius: 100px;
							position: relative;
							margin: 0 auto 1.25rem;
							transition: background-color 0.25s ease-out;

							&:after {
							  content: "";
							  display: block;
							  padding-bottom: 100%;
							}

							.image {
								position: absolute;
								width: 100%;
								height: 100%;
								display: flex;
							   	align-items: center;
							   	justify-content: center;

							   	svg {
							   		max-height: 45%;

							   		g, path {
							   			fill: $white;
							   			transition: fill 0.25s ease-out;
							   		}
							   	}
							}

							&:hover {
								background-color: $dark-green;

								.image {
									svg {
										g, path {
											fill: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.block-background-start {
	&.orange {
		background-color: $orange;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.dark-green {
		background-color: $dark-green;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.light-green {
		background-color: $light-green;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.yellow {
		background-color: $yellow;
		color: $white;
		a {
			&:not(.button) {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&.light-gray {
		background-color: $light-gray;
		color: $black;
		a {
			&:not(.button) {
				color: $dark-gray;
				text-decoration: underline;
			}
		}
	}

	.block-content-page-links {
		&.overlap-section-below {
			.page-links {
				.links {
					.link {
						.inner {
							&.normal {
								h6 {
									color: $dark-gray;
								}

								a {
									&.button {
										&:hover {
											background-color: $dark-green;
										}
									}
								}

								.circle {
									background-color: $white;

									.image {
									   	svg {
									   		g, path {
									   			fill: $dark-green;
									   		}
									   	}
									}

									&:hover {
										background-color: $dark-green;

										.image {
										   	svg {
										   		g, path {
										   			fill: $white;
										   		}
										   	}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.block-content-form {
	.wpcf7 {
		.form-element {
			label {
				color: $white;
				font-family: $grandstander;
				font-weight: 700;
				font-size: 18px;
				margin-bottom: 0.25rem;
			}

			[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
				font-family: $brandon-grotesque;
				border: 2px solid $white;
				background-color: transparent;
				color: $white;
				border-radius: 4px;
			}
		}

		.consent-marketing {
			.wpcf7-acceptance {
				.wpcf7-list-item {
					margin-left: 0;

					span {
						color: $white;
						font-size: 18px;
					}
				}
			}

			label {
				font-size: 18px;
				color: $white;
				display: inline-block;
			}

			.marketingoptin {
				color: $white;

				[type=checkbox], [type=radio] {
					margin-left: 0.25rem;
				}
			}
		}
	}
}


.block-call-to-action-image {
	.background-color {
		border-radius: 10px;
		padding: 4rem 0;

		&.orange {
			background-color: $orange;
			color: $white;
		}

		&.dark-green {
			background-color: $dark-green;
			color: $white;
		}

		&.light-green {
			background-color: $light-green;
			color: $white;
		}

		&.yellow {
			background-color: $yellow;
			color: $white;
		}

		&.light-gray {
			background-color: $light-gray;
		}

		&.white {
			background-color: $white;
		}
	}

	.image {
		margin-bottom: -6rem;
		margin-right: -6rem;
	}
}

.block-products {
	.products {
		.product {
			margin-top: 1rem;
			margin-bottom: 1rem;

			.product-content {
				.product-image {
					img {
						max-height: 300px;
						width: auto;
					}
				}

				.product-description {
					padding-bottom: 1px;

					a {
						color: $dark-gray;
					}
				}
			}
		}
	}
}

.block-content-download-packs {
	.download-packs {
		.download-pack {
			.image {
				margin-bottom: 2.5rem;

				img {
					border-radius: 10px;
				}
			}

			.inner {
				width: 100%;		
			}

			.content {
				padding-bottom: 1px;
			}
		}
	}
}

.block-welfare-subpages {
	background-color: $orange;
	color: $white;
	margin-bottom: 140px;
	padding-top: 4rem;

	.sub-pages {
		position: relative;
		bottom: -140px;
		margin-top: -140px;

		.sub-page {
			h5 {
				a {
					color: $dark-gray;
				}
			}

			.circle {
				width: 100%;
				max-width: 157px;
				background-color: $white;
				box-shadow: 0 8px 24px 0 rgba(0,0,0,0.15);
				border-radius: 100px;
				position: relative;
				margin: 0 auto;
				margin-bottom: 1rem;
				transition: background-color 0.25s ease-out;

				&:after {
				  content: "";
				  display: block;
				  padding-bottom: 100%;
				}

				.image {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
				   	align-items: center;
				   	justify-content: center;

				   	svg {
				   		max-height: 45%;

				   		g, path {
				   			fill: $dark-green;
				   			transition: fill 0.25s ease-out;
				   		}
				   	}
				}
			}

			&:hover {
				.circle {
					background-color: $dark-green;

					.image {
						svg {
							g, path {
								fill: $white;
							}
						}
					}
				}
			}
		}
	}
}

.block-accreditations {
	margin-top: -110px;
    position: relative;

	.accreditations-wrapper {
		background-color: $white;
		color: $dark-gray;
		border-radius: 10px;

		.accreditations {
			padding: 2rem 3rem 1rem;

			> .row {
				display: flex;
				flex-wrap: wrap;
			}

			.accreditation {
				img {
					max-height: 100px;
					width: auto;
				}
			}
		}
	}	
}

.block-feeding-steps {
	&.overlap-section-below {
		margin-bottom: 120px;

		.steps {
			position: relative;
			bottom: -100px;
			margin-top: -70px;
		}
	}

	.steps {
		.step {
			padding-bottom: calc(22.5px + 1rem);
			padding-top: 1rem;

			.circle {
				width: 100%;
				max-width: 157px;
				background-color: $orange;
				border-radius: 100px;
				position: relative;
				margin: 0 auto;

				&:after {
				  content: "";
				  display: block;
				  padding-bottom: 100%;
				}

				.content {
					position: absolute;
					width: 100%;
					height: 100%;
					color: $white;
					font-family: $grandstander;
					font-size: 18px;
					font-weight: 700;

					display: flex;
				   	align-items: center;
				   	justify-content: center;

				   	padding-left: 1.5rem;
				   	padding-right: 1.5rem;


					.number {
						position: absolute;
						bottom: -22.5px;
						background-color: $yellow;
						font-size: 30px;
						width: 45px;
						height: 45px;
						border-radius: 50px;
						line-height: 1.75;
					}
				}
			}
		}

		.spacer {
			display: flex;
		   	align-items: center;
		   	justify-content: center;

		   	img {
		   		margin-top: calc(-22.5px + 2rem);
		   	}
		}
	}
}

.block-content-events {
	.events {
		.event-list {
			width: 100%;

			li {
				border-radius: 10px;
				color: $white;
				padding: 1rem 1.875rem;
				display: inline-block;
				width: 100%;
				float: left;

				a {
					color: $white;
				}

				.content {
					width: calc(100% - 45px);
				}

				.like-button, .content {
					display: inline-block;
					float: left;
					position: relative;
				}

				.like-button {
					width: 45px;
				}

				&:nth-child(even) {
					background-color: $orange;
					box-shadow: 0 8px 24px 0 rgba(0,0,0,0.15);
				}

				&:nth-child(odd) {
					background-color: $yellow;
				}

				h6 {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

.category-posts {
	.category-grid {
		.category-post {
			padding-top: 2rem;
			padding-bottom: 2rem;

			&:nth-child(even) {
				article {
					footer {
						.button {
							background-color: $dark-gray;

							&:hover {
								background-color: scale-color($dark-gray, $lightness: -15%);
							}
						}
					}
				}
			}

			article {
				header {
					h4 {
						a {
							color: $dark-gray;
						}
					}
				}

				section {
					&.entry-content {
						padding-bottom: 2rem;

						.excerpt-read-more {
							display: none;
						}
					}

					&.featured-image {
						position: relative;
						padding-bottom: 1.5rem;
						
						img {
							width: 100%;
						}

						.date {
							padding: 1rem;
							position: absolute;
							top: 0;
							right: 0;
							background-color: $dark-gray;
							color: $white;
							font-weight: bold;
							font-size: 22px;
							text-align: center;
							line-height: 28px;

							small {
								display: block;
								font-size: 16px;
								line-height: 20px;
							}
						}
					}

					p:last-child {
						margin-bottom: 0;
					}
				}

				footer {
					a {
						font-weight: bold;
						padding: 1rem;
					}
				}
			}
		}
	}

	.pagination {
		li {
			font-weight: bold;

			span {
				&.current {
					display: block;
					line-height: inherit;
					min-width: 30px;
					text-align: center;
				}
			}

			a {
				min-width: 30px;
				text-align: center;

				&.next, &.prev {
					color: $dark-gray;
					font-size: 18px;

					i {
						position: relative;
					}
				}

				&:hover {
					color: $white;
				}
			}
		}
	}
}

.search-form {
	z-index: 30;
	position: relative;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;

	.input-group {
		box-shadow: 0 8px 14px 0 rgba($black, 0.1);
		background-color: $dark-green;
		width: 100%;
		max-width: 675px;
		margin-left: auto;
		margin-right: auto;
		padding: 2rem;

		.input-group-field {
			width: 100%;
			padding: 0.75rem 1rem;
			font-family: $brandon-grotesque;
			border: 2px solid $white;
			background-color: transparent;
			color: $white;
			border-radius: 4px;
		}

		::-webkit-input-placeholder {
		  color: $white;
		}
		::-moz-placeholder {
		  color: $white;
		}
		:-ms-input-placeholder {
		  color: $white;
		}
		:-moz-placeholder {
		  color: $white;
		}

		.button {
			margin-left: 1rem;
			border-radius: 40px;
			border-width: 2px;
		}
	}
}

div.wpcf7 {
	::-webkit-input-placeholder {
	  color: $black;
	}
	::-moz-placeholder {
	  color: $black;
	}
	:-ms-input-placeholder {
	  color: $black;
	}
	:-moz-placeholder {
	  color: $black 
	}

	span.wpcf7-not-valid-tip {
	    display: block;
	    background: $alert-color;
	    color: #fff;
	    font-size: 13px;
	    padding: 2px;
	    position: relative;
	    top: -1rem;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    border-radius: 0 0 4px 4px;
	}

	div.wpcf7-response-output {
		text-align: center; 
		margin: 0 0 1em;
		padding: 0.25em 1em;
		font-size: 14px;
	}

	div.wpcf7-mail-sent-ok {
		border: 2px solid darken($success-color, 10);
		background-color: $success-color;
		color: white;
	}

	div.wpcf7-mail-sent-ng {
		border: 2px solid darken($alert-color, 10);
		background-color: $alert-color;
		color: white;
	}

	div.wpcf7-spam-blocked {
		border: 2px solid darken($warning-color, 10);
		background-color: $warning-color;
		color: $dark-gray;
	}

	form.invalid, form.unaccepted {
		.wpcf7-response-output {
			border: 2px solid darken($alert-color, 10);
			background-color: $alert-color;
			color: white;
		}
	}

	form.sent {
		.wpcf7-response-output {
			border: 2px solid darken($success-color, 10);
			background-color: $success-color;
			color: $dark-gray;
		}
	}

	div.wpcf7-validation-errors {
		border: 2px solid darken($alert-color, 10);
		background-color: $alert-color;
		color: $white;
	}
	
	.ajax-loader {
		display: block;
		background-repeat: no-repeat;
	    background-position: center center;
	    width: 100%;
	    max-width: 236px;
	    position: relative;
       	top: -69px;
	    height: 53px;
	    margin: 0 0 -50px;
	    background-color: $white;
	    border-radius: 0;
	    border-radius: 0;
	    opacity: 1;

	    &:before {
	    	background-color: $primary-color;
	    	top: calc(50% - 11px);
	    	left: calc(50% - 11px);
	    }
	}
}

h2 {
	small {
		display: block;
		line-height: 1;
		font-size: 70%;
	}
}

.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon a {
	font-size: 0 !important;
}

.wpem-single-event-page .wpem-single-event-wrapper .wpem-single-event-body .wpem-single-event-left-content .wpem-single-event-short-info .wpem-viewed-event .wpem-icon-eye {
	color: $primary-color;
}

.wpem-single-event-page .wpem-single-event-wrapper .wpem-single-event-body .wpem-single-event-left-content .wpem-single-event-short-info .wpem-viewed-event:hover .wpem-icon-eye {
	color: darken($primary-color, 5);
}

.wpem-theme-button, a.wpem-theme-button, button.wpem-theme-button, input.wpem-theme-button {
	background-color: $primary-color;
	text-transform: none;

	&:hover {
		background-color: darken($primary-color, 5);
	}
}

.wpem-single-event-page .wpem-single-event-wrapper .wpem-single-event-body .wpem-single-event-body-sidebar .wpem-single-event-sidebar-info a {
	color: $primary-color;
	text-transform: none;

	&:hover {
		color: darken($primary-color, 5);
	}
}

.wpem-main-vmenu-dashboard-nav .wpem-main-vmenu-dashboard-ul .wpem-main-vmenu-dashboard-li .wpem-main-vmenu-dashboard-link {
	margin-bottom: 0;
}

.wpem-responsive-table-block table.wpem-responsive-table-wrapper {
	width: 100%;
}

table.wpem-responsive-table-wrapper tbody tr td a {
	color: $primary-color;

	&:hover {
		color: darken($primary-color, 5);
	}
}

.wpem-dashboard-main-title.wpem-dashboard-main-filter a.wpem-dashboard-header-btn i[class^=wpem-icon-] {
	color: $primary-color;
}

.wpem-dashboard-main-title.wpem-dashboard-main-filter a.wpem-dashboard-header-btn:hover i[class^=wpem-icon-] {
	color: darken($primary-color, 5);
}

.wpem-main-vmenu-dashboard-nav .wpem-main-vmenu-dashboard-ul .wpem-main-vmenu-dashboard-li a.wpem-main-vmenu-dashboard-link.wpem-main-vmenu-dashboard-link-active i {
	color: $primary-color;
}

.wpem-main-vmenu-dashboard-nav .wpem-main-vmenu-dashboard-ul .wpem-main-vmenu-dashboard-li a.wpem-main-vmenu-dashboard-link.wpem-main-vmenu-dashboard-link-active {
	color: $primary-color;
}

.wpem-main-vmenu-dashboard-nav .wpem-main-vmenu-dashboard-ul .wpem-main-vmenu-dashboard-li .wpem-main-vmenu-dashboard-link:hover {
	color: darken($primary-color, 5);
}

.wpem-main-vmenu-dashboard-nav .wpem-main-vmenu-dashboard-ul .wpem-main-vmenu-dashboard-li .wpem-main-vmenu-dashboard-link:hover i {
	color: darken($primary-color, 5);
}

.wpem-main-vmenu-dashboard-wrapper .wpem-main-vmenu-dashboard-content-wrap .wpem-dashboard-events-block-wrap .wpem-dashboard-event-list-wrapper .wpem-dashboard-event-list .wpem-dboard-event-action .wpem-dboard-event-act-btn a {
	color: $primary-color;
}

.wpem-main-vmenu-dashboard-wrapper .wpem-main-vmenu-dashboard-content-wrap .wpem-dashboard-events-block-wrap .wpem-dashboard-event-list-wrapper .wpem-dashboard-event-list .wpem-dboard-event-action .wpem-dboard-event-act-btn a:hover {
	color: darken($primary-color, 5);
}

.wpem-main-vmenu-dashboard-wrapper .wpem-dashboard-events-block-wrap .wpem-dashboard-event-list-wrapper .wpem-dashboard-event-list-body .wpem-dashboard-event-placeholder strong {
	border-bottom: 1px solid $primary-color;
}

.wpem-main-vmenu-dashboard-wrapper .wpem-main-vmenu-dashboard-content-wrap .wpem-dashboard-events-block-wrap .wpem-dashboard-event-list-wrapper .wpem-dashboard-event-list .wpem-dashboard-event-datetime-location .wpem-dashboard-event-date-time:before {
	color: $primary-color;
}

.wpem-main-vmenu-dashboard-wrapper .wpem-main-vmenu-dashboard-content-wrap .wpem-dashboard-events-block-wrap .wpem-dashboard-event-list-wrapper .wpem-dashboard-event-list .wpem-dashboard-event-datetime-location .wpem-dashboard-event-location:before {
	color: $primary-color;	
}