#wpcf7-f12569-p12565-o1 form label {
    color: white;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold
}

#wpcf7-f12569-p12565-o1 form input {
    background: transparent;
    box-shadow: unset;
    border: 1px solid white;
    border-radius: 17px;
    color: white;
}

#wpcf7-f12569-p12565-o1 form input::placeholder {
    color: white;
    font-weight: 100;
    font-style: italic;
}

#wpcf7-f12569-p12565-o1 form > label:nth-of-type(1) {
    width: 48%;
    display: inline-block;
    margin-right: 3.6%;
}

#wpcf7-f12569-p12565-o1 form > label:nth-of-type(2) {
    width: 48%;
    display: inline-block;
}

#wpcf7-f12569-p12565-o1 form input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    padding: .8em 2.5em;
    border: 1px solid white;
    border-radius: 50px;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.wpcf7-list-item-label {
    font-size: 1rem;
}

@media (max-width: 945px) {
    #wpcf7-f12569-p12565-o1 form > label:nth-of-type(2), 
    #wpcf7-f12569-p12565-o1 form > label:nth-of-type(1) {
        width: 100%;
        display: inline-block;
        margin-right: unset;
    }
}