@include breakpoint(large only) {
	body {
		header.header {
			.top-bar-container {
				.callout {
					font-size: 20px;
				}

				.sticky {
					.top-bar {
						.top-bar-left, .top-bar-right {
							-webkit-box-flex: 1;
							max-width: 100%;
							flex: 1 1 auto;
						}

						.top-bar-left {
							ul {
								li {
									a {
										padding: 5px 13px;

										svg, img {
											max-height: 150px;
										}
									}
								}
							}
						}

						.top-bar-right {
							ul {
								background-color: transparent;

								li {
									&.menu-toggler {
										a {
											svg, img {
												height: 35px;
											}
										}
									}
								}
							}
						}
					}

					&.is-stuck {
						.top-bar {
							.top-bar-left {
								ul {
									li {
										a {
											svg, img {
												height: calc(150px * 0.75);
											}
										}
									}
								}
							}

							.top-bar-right {
								ul {
									li {
										&.menu-toggler {
											button {
												svg, img {
													height: calc(35px * 0.80);
												}
											}
										}

										&.facebook-logo {
											a {
												svg, img {
													height: calc(35px * 0.80);
												}
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}
	}
}