@include breakpoint(medium only) {
	body {
		header.header {
			.top-bar-container {
				.callout {
					font-size: 18px;
				}

				.sticky {
					.top-bar {
						.top-bar-left, .top-bar-right {
							-webkit-box-flex: 1;
							max-width: 100%;
							flex: 1 1 auto;
						}

						.top-bar-left {
							ul {
								li {
									a {
										padding: 5px 13px;

										svg, img {
											max-height: 125px;
										}
									}
								}
							}
						}

						.top-bar-right {
							ul {
								background-color: transparent;

								li {
									&.menu-toggler {
										a {
											svg, img {
												height: 30px;
											}
										}
									}
								}
							}
						}
					}

					&.is-stuck {
						.top-bar {
							.top-bar-left {
								ul {
									li {
										a {
											svg, img {
												height: calc(125px * 0.75);
											}
										}
									}
								}
							}

							.top-bar-right {
								ul {
									li {
										&.menu-toggler {
											button {
												svg, img {
													height: calc(30px * 0.80);
												}
											}
										}

										&.facebook-logo {
											a {
												svg, img {
													height: calc(30px * 0.80);
												}
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}
	}

	.block-content-form {
		.wpcf7 {
			.form-element {
				label {
					font-size: 0.9rem;
				}
			}

			.consent-marketing {
				.wpcf7-acceptance {
					.wpcf7-list-item {
						margin-left: 0;

						input {
							margin: 0.35rem 0;
							float: left;
							width: 40px;
						}

						span {
							color: $white;
							font-size: 0.9rem;
							display: inline-block;
							float: left;
							width: calc(100% - 40px);
						}
					}
				}

				label {
					font-size: 0.9rem;
					display: block;
				}

				.marketingoptin {
					color: $white;

					.wpcf7-list-item {
						> label {
							span, input {
								vertical-align: middle;
							}
						}
					}

					[type=checkbox], [type=radio] {
						margin-left: 0.5rem;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}