@include breakpoint(small only) {
	.button, .button-group .button {
		font-size: 14px;
		padding: 1rem 1.5rem;
	}

	.button-group {
		&.stacked-for-small, &.stacked-for-large {
			.button {
				margin: 0 0 1rem;
				width: 100%;
			}
		}
	}

	body {
		header.header {
			.top-bar-container {
				.callout {
					font-size: 13px;
				}
				
				.sticky {
					.top-bar {
						.top-bar-left, .top-bar-right {
							-webkit-box-flex: 1;
							max-width: 100%;
							flex: 1 1 auto;
						}

						.top-bar-left {
							ul {
								li {
									a {
										padding: 5px 13px;

										svg, img {
											height: 100px;
										}
									}
								}
							}
						}

						.top-bar-right {
							ul {
								background-color: transparent;

								li {
									&.menu-toggler {
										a {
											svg, img {
												height: 25px;
											}
										}
									}
								}
							}
						}
					}

					&.is-stuck {
						.top-bar {
							.top-bar-left {
								ul {
									li {
										a {
											svg, img {
												height: calc(100px * 0.75);
											}
										}
									}
								}
							}

							.top-bar-right {
								ul {
									li {
										&.menu-toggler {
											button {
												svg, img {
													height: calc(25px * 0.80);
												}
											}
										}

										&.facebook-logo {
											a {
												svg, img {
													height: calc(25px * 0.80);
												}
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}
	}

	.block-call-to-action-image {
		.background-color {
			padding: 2rem;

			.image {
				margin-bottom: -6rem;
				margin-right: 0rem;
			}
		}
	}

	.block-content-form {
		.wpcf7 {
			.form-element {
				label {
					font-size: 0.7875rem;
				}
			}

			.consent-marketing {
				.wpcf7-acceptance {
					.wpcf7-list-item {
						margin-left: 0;

						input {
							margin: 1rem 0 0 0;
							float: left;
							width: 40px;
						}

						span {
							color: $white;
							font-size: 0.7875rem;
							display: inline-block;
							float: left;
							width: calc(100% - 40px);
						}
					}
				}

				label {
					font-size: 0.7875rem;
					display: block;
				}

				.marketingoptin {
					color: $white;

					.wpcf7-list-item {
						> label {
							span, input {
								vertical-align: middle;
							}
						}
					}

					[type=checkbox], [type=radio] {
						margin-left: 0.5rem;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	footer {
		&.footer {
			.accordion.did-you-know {
				.accordion-item	{
					width: 75px;
					.accordion-title {
						.image {
							margin-right: 0;
						}

						.text {
							display: none;
						}
					}

					&.is-active {
						.image {
							margin-right: 1rem;
						}

						.text {
							display: block;
						}
					}
				}
			}
		}
	} 
}