@include breakpoint(xlarge only) {
	body {
		header.header {
			.top-bar-container {
				.sticky {
					.top-bar {
						.top-bar-left {
							ul {
								li {
									a {
										padding: 5px 13px;

										svg, img {
											max-height: 150px;
										}
									}
								}
							}
						}
					}

					&.is-stuck {
						.top-bar {
							.top-bar-left {
								ul {
									li {
										a {
											svg, img {
												height: calc(150px * 0.75);
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}
	}	
}